# Notebooks checkpoints
.ipynb_checkpoints/*
misc/.ipynb_checkpoints/*

# all backup files by emacs
*~
#
.#

# Python cache
__pycache__

# virtual environment
venv

# log by nohup command
vuorotiheys.og